section {
  &.two-column-boxes {
    box-sizing: content-box;
    overflow-x: hidden;
    margin: 0 auto;
    p {
      font-size: 17px;
      font-weight: normal;
    }
    ul {
      li {
        font-size: 22px;
        font-weight: normal;
        &:after {
          font-size: 30px;
          letter-spacing: 3px;
          font-weight: bold;
        }
      }
    }
    ul {
      margin: 0;
      li {
        list-style-type: none; 
        font-family: 'Open Sans Condensed';
        line-height: 18px;
        text-transform: uppercase;
        margin: 20px 0;
        &:not(:last-child) {
          &:after {
            content: '...';
            display: block;
          }
        }
      }
    }
  }
  @media screen and (min-width: $desktop-width) {
    &.two-column-boxes {
      width: $inner-content;
    }
  }
}
