section {
  &.content {
    margin: 0 auto;
    @media screen and (min-width: $tablet-width) {
      padding: 0 10vw;
    }
    @media screen and (min-width: $desktop-width) {
      padding-bottom: 100px;
      width: $inner-content;
      padding: 0 170px;
    }
  }
}
