.films-wrapper {
  min-height: 30vh;
  transition: all 100ms;
  .films-list {
    padding: 30px 0 0;
    text-align: left;
    box-sizing: content-box;
    .film {
      display: none;
      background-color: rgba($blue, 0.4);
      padding: 30px;
      margin-bottom: 30px;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      .title {
        color: $blue;
      }
      .expand {
        cursor: pointer;
        white-space: nowrap;
        &:after {
          transition: all 300ms;
          content: 'expand for details +';
          color: $blue;
        }
        &:hover {
          &:after {
            color: $white_alpha;
          }
        }
      }
      .description {
        p {
          margin-bottom: 15px;
        }
        .dates {
          > span {
            padding-right: 5px;
            white-space: nowrap;
            &:before {
              content: '|';
              padding-right: 5px;
            }
            &:first-child {
              &:before {
                content: '';
                padding-right: 0;
              }
            }
          }
        }
        .genres {
          .genre {
            display: inline-block;
            white-space: nowrap;
            &:before {
              padding-left: 5px;
              content: ' | ';
            }
          }
        }
        .share {
          cursor: pointer;
          transition: all 200ms;
          &:before {
            @include icon($share_icon);
            vertical-align: bottom;
            padding-right: 3px;
          }
          &:hover {
            color: $blue;
          }
          .share-box {
            padding: 0 5px;
            margin-top: 5px;
            display: none;
            position: relative;
            max-width: 84px;
            color: $white_alpha;
            background-color: $blue_dark_alpha;
            > * {
              display: inline-block;
              padding: 5px 5px;
              margin: 0;
              transition: all 300ms;
              cursor: pointer;
            }
            .facebook,
            .twitter {
              color: $white_alpha;
              font-size: 25px;
              &:hover {
                color: $blue_alpha;
              }
            }
            .facebook {
              &:before {
                @include icon($facebook_icon);
              }
            }
            .twitter {
              &:before {
                @include icon($twitter_icon);
              }
            }
          }
          &.active {
            .share-box {
              display: block;
            }
          }
        }
        &:last-child {
          .grid-row {
            > div {
              margin-bottom: 20px;
            }
          }
        }
      }
      .content {
        display: none;
      }
      &.expanded {
        // .description {
          .expand {
            &:first-child {
              display: none;
            }
            &:after {
              content: 'close -';
            }
          }
        // }
        .content {
          display: block;
        }
      }
    }
    @media screen and (min-width: $tablet-width) {
      .film {
        margin-bottom: 60px;
        .description {
          .share {
            .share-box {
              position: absolute;
            }
          }

        }
        .expand {
          text-align: right;
        }
      }
    }
    @media screen and (min-width: $desktop-width) {
      .film {
        .description {
          &:last-child {
            // margin-top: -40px;
          }
        }
      }
    }
    .film:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $tablet-width) {
    &.blur {
      filter: blur(3px);
      opacity: 0.5;
    }
  }
}
