footer {
  background-image: url('./media/footer-earth.jpg');
  // background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 87vw;
  margin: 0 auto 0;
  position: relative;
  border-top-left-radius: 95% 35%;
  border-top-right-radius: 95% 35%;

  body.home & {
    margin: -87vw auto 0;
  }

  .links-container {
    margin-top: -90px;
    height: 90px;
    background-color: $blue_alpha;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: table;
    padding: 0;
    z-index: 1;
    .links {
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto;
      > div {
        max-width: 350px;
        margin: 0 auto;
      }
      .link {
        color: $white_alpha;
        display: inline-block;
        &:after {
          color: $white_alpha !important;
          content: '|';
          display: inline-block;
          margin: 0 5px;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          &:after {
            content: '';
            margin: 0;
          }
        }
        &:nth-child(3),
        &:nth-child(4) {
          display: block;
        }
      }
      a:hover {
        color: black;
      }
    }
  }
  @media screen and (min-width: $tablet-width) {
    background-size: 100%;
    height: 34vw;
    margin-top: -10vw;
    body.home & {
      margin-top: -34vw;
    }
  }
  @media screen and (min-width: $desktop-width) {
    .links-container {
      height: 40px;
      margin-top: -40px;
      .links {
        > div {
          max-width: $inner-content;
        }
        .link {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            display: inline-block;
            &:not(:nth-child(4)){
              &:after {
                content: '|';
                display: inline-block;
                margin: 0 5px;
              }
            }
          }
        }
      }
    }
    &:before {
      background-position: center 60vw;
    }
  }
}
