* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 45px 0 0;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #000000;
  background-image: url('./media/background-stars.png');
  overflow-x: hidden;
  min-height: 100vh;
  &.modal-active {
    overflow-y: hidden;
  }
}

pre {
  padding: 20px;
  box-sizing: border-box;
  background: #f1f1f1;
  color: #555;
  font-size: 90%;
  text-align: left;
}

main {
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  min-height: calc(100vh - (40px + 87vw));
  @media screen and (min-width: $tablet-width) {
    min-height: calc(100vh - 29vw);
    body.home & {
      min-height: calc(100vh - (45px + 40vw));
    }
  }
  @media screen and (min-width: $desktop-width) {
    min-height: calc(100vh - (178px + 24vw));
  }
}

section {
  padding: 0 30px;
  .box {
    width: 100%;
    margin-bottom: 40px;
    padding: 50px 30px;
    &.blue {
      background-color: $blue_alpha;
      color: #ffffff;
      * {
        color: #ffffff !important;
      }
    }
    &.white {
      background-color: $white_alpha;
      color: #000000;
      * {
        color: #000000 !important;
      }
    }

    img {
        max-width: 100%;
        height: auto;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: $blue_alpha;
  cursor: pointer;
  transition: all 200ms;
  &:hover, * {
    color: $white_alpha;
  }
}

p {
  padding-bottom: 12px;
  letter-spacing: 1px;
  line-height: 23px;
  a {
    color: $blue_alpha;
    &:hover {
      color: $white_alpha;
    }
  }
}

h1, h2, h6 {
  color: #ffffff;
  font-family: 'Open Sans Condensed';
  font-weight: 300;
}

h1 {
  color: #25aae1;
  font-size: 28px;
  line-height: 1em;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  transition: all 200ms;
}

ul {
  margin: 20px 30px;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.placeholder-image {
  opacity: 0.8;
}

.sidebar {
  display: none;
  padding: 0 30px;
  z-index: 10;
  width: calc(17% + 28px);
  right: 0;
  top: 178px;
  position: fixed;
  top: 178px;
  max-width: 256px;
  max-height: calc(100vh - 188px);
  overflow: auto;
  .sidebar-links {
    padding-top: 2vw;
  }
  .btn {
    font-size: 1.2vw;
    padding: 5px 20px;
    text-transform: lowercase;
    margin: 5px 0;
    display: block;
    &.active {
      background-color: $blue2_alpha;
      &:hover {
        color: $white_alpha;
        background-color: $blue2_alpha;
      }
    }
    &.sidebar-link {
      display: block;
      color: $white_alpha;
      background-color: transparent;
      border: 1px solid $white_alpha;
      &:hover {
        color: $blue_alpha;
        background-color: $white_alpha;
      }
    }
  }
}

.btn {
  padding: 5px 25px;
  background-color: $blue_alpha;
  color: $white_alpha;
  cursor: pointer;
  transition: all 300ms;
  font-family: 'Open Sans Condensed', sans-serif;
  &:hover {
    background-color: $white_alpha;
    color: $blue_alpha;
  }
}

section {
  &.centered {
    max-width: 1200px;
    margin: 0 auto;
    * {
      max-width: 1200px;
    }
  }
  &.box,
  .box {
    max-width: $inner-content;
    margin: 0 auto 30px;
    background-color: rgba($blue, 0.3);
    p {
      margin-bottom: 10px;
    }
  }
}

.select-box {
  .dropdown-box {
    font-family: 'Lato', sans-serif;
    color: $white_alpha;
    border: 2px solid $blue_alpha;
    font-weight: 300;
    padding: 11px 0;
    text-transform: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms;
    margin: 20px 0;

    &:after {
      @include icon($down_triangle_icon);
      vertical-align: middle;
      color: $blue_alpha;
      font-size: 90%;
      padding-left: 10px;
    }
  }
  ul {
    margin: -20px 0 0;
    position: absolute;
    width: calc(100% - 120px);
    opacity: 0;
    transition: opacity 200ms;
    height: 0;
    overflow: hidden;

    position: relative;
    display: block;
    width: 100%;


    li {
      margin: 15px 0;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding: 15px 0;
      background-color: $white_alpha;
      color: $blue_alpha;
      text-transform: none;
      font-size: 20px;
      cursor: pointer;
      transition: all 300ms;
      &:after {
        content: '';
      }
      &:hover {
        background-color: $blue_alpha;
        color: $white_alpha;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.open {
    ul {
      z-index: 1;
      opacity: 1;
      height: auto;
      overflow: auto;
    }
  }
  &.optional {
    ul {
      &:before {
        content: '(optional)';
        color: rgba($white_alpha, 0.5);
        display: block;
        padding-top: 5px;
        margin-bottom: -8px;
        font-size: 90%;
      }
    }
  }
}

.button-links {
  padding: 20px 0 40px;
  .btn {
    padding: 10px 0;
    margin: 0 20px 20px;
    max-width: 200px;
  }
}

// WordPress classes
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width: $desktop-width) {
  // font-size: 1.8vw;
  .sidebar {
    display: block;
  }
  body {
    font-size: 16px;
    padding-top: 178px;
  }
  section {
    &.box,
    .box {
      padding: 75px 30px;
      p {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: $outer-content) {
  .sidebar {
    right: calc((100vw - 1366px) / 2);
    .sidebar-links {
      padding-top: 20px;
    }
    .btn {font-size: 15px;}
  }
}
