// Editable vars
$widths: 0 10 15 20 25 30 33 35 40 50 60 65 67 70 75 80;
$padds: 0 15 25 26 30 50 60;

$tablet-width: 640px;
$desktop-width: 968px;
$inner-content: 910px;
$outer-content: 1366px;

// Grid breakpoints
$breakpoints: (
  xs: 0,
  sm: 640,
  md: 968,
  lg: 1366
);

body {
  overflow-x: hidden;
}
.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  box-sizing: content-box !important;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  $positions: start center end;
  @each $pos in $positions {
    &.align-#{$pos} {
      -webkit-box-align: $pos !important;
      -webkit-align-items: flex-#{$pos} !important;
      -ms-flex-align: $pos !important;
      align-items: if($pos == center, $pos, flex-#{$pos}) !important;
    }
    &.justify-#{$pos} {
      -webkit-box-pack: center!important;
      -webkit-justify-content: center!important;
      -ms-flex-pack: center!important;
      justify-content: center!important;
    }
  }
  > [class^="col-"], > [class*=" col-"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;

    &.order-first {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -ms-flex-order: -1;
      order: -1;
    }

    &.order-last {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }

    @each $pos in $positions {
      &.align-#{$pos} {
        -ms-flex-item-align: $pos !important;
        @if($pos == center) {
          -webkit-align-self: $pos !important;
          -ms-grid-row-align: $pos !important;
          align-self: $pos !important;
        } @else {
          -webkit-align-self: flex-#{$pos} !important;
          align-self: flex-#{$pos} !important;
        }
      }
    }
  }
  .break {
    width: 100% !important;
  }

  @each $padd in $padds {
    &.padd-#{$padd} {
      margin-left: $padd * -1px;
      margin-right: $padd * -1px;
      > [class^="col-"], > [class*=" col-"] {
        padding-left: ($padd * 1px);
        padding-right: ($padd * 1px);
      }
    }
  }
  @each $width in $widths {
    .col-#{$width} {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 $width * 1%;
      -ms-flex: 0 0 $width * 1%;
      flex: 0 0 $width * 1%;
      max-width: $width * 1%;
    }
  }
  @each $prefix, $breakpoint in $breakpoints {
    @media screen and (min-width: #{$breakpoint}px) {
      .col-#{$prefix} {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
      }
      .col-md-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
      }
      &.order-#{$prefix}-first {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
      }
      &.order-#{$prefix}-last {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
      }

      @each $width in $widths {
        .col-#{$prefix}-#{$width} {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 $width * 1%;
          -ms-flex: 0 0 $width * 1%;
          flex: 0 0 $width * 1%;
          max-width: $width * 1%;
        }
        .push-#{$prefix}-#{$width} {
          left: $width * 1%;
        }
        .pull-#{$prefix}-#{$width} {
          right: $width * 1%;
        }
      }
    }
  }
}
