header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 45px;
  font-family: 'Open Sans Condensed';
  transform: translateY(-100%);
  z-index: 2;
  transition-duration: 200ms;
  transition-property: background-color;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
  > div {
    max-width: 1366px;
    margin: 0 auto;
  }
  &.background {
    background-color: rgba(black, 0.7);
  }
  .image {
    max-width: 206px;
  }
  .social-links {
    padding-left: 1vw;
    display: inline-block;
    vertical-align: middle;
    > a {
      vertical-align: middle;
      padding: 0 0.5vw;
      font-size: 130%;
      color: $white_alpha;
      &:hover {
        color: $blue_dark;
      }
    }
  }
  .mobile {
    height: 100%;
    .image {
      left: 5px;
      position: absolute;
    }
    .hamburger {
      width: 45px;
      position: absolute;
      height: 45px;
      right: 0;
      padding: 14px;
      transition: all 400ms;
      z-index: 5;
      .line {
        width: 100%;
        height: 3px;
        margin-bottom: 3px;
        background-color: $blue;
        transition: all 450ms;
        transform-origin: right;
      }
    }
    .menu {
      position: fixed;
      background-color: $blue;
      width: 100vw;
      z-index: -10;
      opacity: 0;
      transition: all 300ms;
      padding-top: 45px;
      pointer-events: none;
      .content {
        padding-bottom: 30px;
        opacity: 0;
        transform: translateY(20px);
        transition: all 400ms;
        z-index: -9999;
        .text {
          padding: 5px 0;
          max-width: 170px;
          margin: 0 auto;
        }
        .footer-link {
          font-size: 90%;
          a {
            color: $white_alpha;
            &:hover {

            }
          }
        }
        .item {
          a,
          a span {
            font-size: 24px;
            color: $white_alpha;
            display: block;
            &:hover {
              text-decoration: underline;
            }
          }
          .has-dropdown {
            &:after {
              display: inline-block;
              font-size: 12px;
              margin-right: -26px;
              padding-left: 3px;
              vertical-align: middle;
              transition: all 200ms;
              transform-origin: center;
              @include icon($down_triangle_icon);
            }
          }
          .children {
            transform: scale(0.2);
            opacity: 0;
            height: 0;
            transition: all 200ms;
            a {
              display: block;
              // font-size: 18px;
              // line-height: 28px;
              color: $white_alpha;
            }
          }
          &.open {
            .has-dropdown {
              &:after {
                transform: rotateX(180deg);
              }
            }
            .children {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
        .social-links {
          padding: 20px 0;
          > a {
            font-size: 170%;
          }
        }
      }
    }
    &.menu-open {
      .menu {
        .content {
          pointer-events: all;
          z-index: -1;
        }
      }
      .hamburger {
        transform-origin: center;
        transform: rotateY(-180deg);
        .line {
          background-color: $white_alpha;
          &:nth-child(1) {
            transform: rotate(45deg) translateY(9px) translateX(8px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translateY(-9px) translateX(8px);
          }
        }
      }
      .menu {
        height: auto;
        z-index: -1;
        opacity: 1;
        .content {
          transition-delay: 250ms;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  .desktop{
    display: none;
    > * {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      width: calc(17% + 10px);
      box-sizing: border-box;
    }
  }

  .image {
    display: inline-table;
    height: 100%;
    > * {
      text-align: center;
      display: table-cell;
      vertical-align: bottom;
    }
  }

  @media screen and (min-width: $desktop-width) {
    height: 178px;
    .image {
      > * {
        vertical-align: middle;
      }
    }
  }
  .center {
    padding-right: 56px;
    width: calc(66% - 28px);
    .text {
      height: 68px;
      font-size: 20px;
      color: $white_alpha;
      display: table;
      width: 100%;
      .item {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        white-space: nowrap;
        &:last-child {
          text-align: right;
        }
      }
    }
    .prenav {
      text-align: left;
      font-size: 1.6vw;
    }
    .links {
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      a {
        text-transform: uppercase;
        color: $white_alpha;
        &:after {
          color: $white_alpha !important;
        }
        &:not(:last-child) {
          &:after {
            content: '|';
            padding-left: 5px;
          }
        }
        &:hover {
          color: $blue_alpha;
        }
      }
    }
    .menu {
      margin-right: -5px;
      .item {
        max-height: 42px;
        .box {
          display: block;
          transition: transform 200ms;
          background-color: $white_alpha;
          padding-top: 6px;
          padding-bottom: 6px;
          font-size: 22px;
          box-sizing: border-box;
          margin-right: 5px;
          text-align: center;
          cursor: pointer;
          height: 42px;
          .text {
            transition: transform 200ms;
            height: auto;
            display: block;
            color: $blue;
            transform: translateY(1);
            &.has-dropdown {
              &:after {
                @include icon($down_triangle_icon);
                font-size: 85%;
                padding-left: 2px;
                vertical-align: middle;
              }
            }
          }
        }
        .dropdown {
          list-style-type: none;
          margin: 0;
          visibility: hidden;
          transition: all 200ms;
          transform: scaleY(1);
          position: relative;
          padding-top: 6px;
          margin-right: 5px;
          box-sizing: border-box;
          li {
            cursor: pointer;
            color: $blue;
            font-size: 16px;
            opacity: 0;
            text-transform: none;
            transition: all 200ms;
            margin: 5px 0;
            &:after {
              content: '';
            }
            a {
              display: block;
              width: 100%;
              background-color: $white_alpha;
              color: $blue_alpha;
            }
            &:hover {
              a {
                background-color: $blue_alpha;
                color: $white_alpha;
              }
            }
          }
        }
        &:hover {
          max-height: auto;
          .box {
            transform: scaleY(1.3);
            color: $blue;
            .text {
              transform: scaleY(0.75);
            }
          }
          .dropdown {
            visibility: visible;
            z-index: 9;
            @for $i from 1 through 6 {
              li:nth-child(#{$i}) {
                transition-delay:  10ms+(30ms*$i);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  .cart-section {
    position: absolute;
    right: 45px;
    height: 45px;
    padding-right: 20px;
    > div {
      color: $white_alpha;
      font-size: 20px;
      padding-top: 7px;
      display: block;
      &:hover {
        color: $blue_alpha;
      }
      a {
        color: $white_alpha;
        &:hover {
          color: $blue_alpha;
        }
        &:before {
          @include icon($tickets_icon);
          font-size: 25px;
          padding: 5px 10px 0 0;
          vertical-align: middle;
        }
      }
    }
  }
  @media screen and (min-width: $desktop-width) {
    .mobile {
      display: none;
    }
    .desktop {
      height: 100%;
      display: block;
    }
    .cart-section {
      right: 0;
      padding: 0;
      position: relative;
      display: inline-table;
      height: 100%;
      > div {
        display: table-cell;
        vertical-align: middle;
        a:before {
          font-size: 35px;
        }
      }
    }
  }
  @media screen and (min-width: $outer-content) {
    .desktop {
      .center {
        .prenav {
          font-size: 20px;
        }
      }
    }
  }
}
