section {
  &.hero {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    text-align: center;
    .mobile {
      > h1 {
        display: block;
        margin: 20px auto;
        max-width: 220px;
      }
    }
    .desktop {
      display: none;
      .slider-controls {
        position: relative;
      }
    }
    .hero-container {
      padding: 0 30px;
      max-width: 600px;
      margin: 0 auto;
    }
    .slide {
      margin-bottom: 30px;
      .content {
        height: 100%;
        color: black;
        text-align: left;
        background-color: $white_alpha;
        padding: 40px 30px;
        margin: 0 auto;
        max-width: 910px;
        .img {
          height: 275px;
          width: 100%;
          background-size: cover;
          background-position: center;
        }
        img {
          max-width: 100%;
          margin: 0 auto;
          &.last {
            margin-bottom: 0;
          }
        }
        .sub-title {
          padding: 10px 0;
        }
        .sub-title,
        h1 {
          text-transform: uppercase;
          font-family: 'Open Sans Condensed', sans-serif;
          word-wrap: break-word;
        }
      }
      &.standard-content {
        .content {
          > img {
            padding-bottom: 15px;
            // width: 50%;
            // float: left;
            // padding: 0 20px 10px 0;
          }
        }
        .footer {
          img {
            margin: 0;
            max-width: 200px;
          }
          .hr {
            border-top: 1px solid $blue;
            padding-top: 20px;
          }
          .center-content {
            p {
              padding-bottom: 5px;
            }
          }
          .btn {
            float: right;
            font-size: 130%;
          }
        }
      }
    }
    img {
      // display: none;
      max-width: 100%;
      margin: 0 auto 20px;
      &:first-child {
        margin-bottom: 100px;
      }
    }
    .sidebar {
      &.homepage-buttons {
        position: relative;
        display: inline-block;
        width: auto;
        max-width: 100%;
        max-height: none;
        top: 0;
        padding-bottom: 30px;
        a {
          display: block;
          font-size: 90%;
          vertical-align: middle;
          font-family: 'Open Sans Condensed', sans-serif;
          text-transform: uppercase;
          padding: 15px 0;
          min-width: 150px;
          max-width: 150px;
          color: $white_alpha;
          &:hover {
            color: $blue_alpha;
          }
          &:before {
            display: block;
            padding-bottom: 10px;
          }
          &.screening_times {
            &:before {
              font-size: 30px;
              @include icon($screening_icon);
            }
          }
          &.open_events {
            &:before {
              font-size: 35px;
              padding-bottom: 5px;
              @include icon($events_icon);
            }
          }
          &.ticket_info {
            &:before {
              font-size: 40px;
              padding-bottom: 0;
              @include icon($tickets_icon);
            }
          }
        }
      }
    }
    @media screen and (min-width: $tablet-width) {
      .slide {
        .content {
          background-color: $blue_dark2;
          color: $white_alpha;
        }
        h1 {
          word-wrap: normal;
        }
        &.standard-content {
          .content {
            > img {
              width: 50%;
              float: left;
              padding: 0 20px 10px 0;
            }
          }
        }
      }
      .sidebar {
        &.homepage-buttons {
          a {
            display: inline-block;
          }
        }
      }
    }
    @media screen and (min-width: $inner-content) {
      .slide {
        .content {
          padding: 50px 60px;
        }
      }
      img {
        display: block;
      }
    }
    @media screen and (min-width: 1250px) {
      .mobile {display: none;}
      .desktop {
        display: block;
      }
      .slide {
        height: 475px;
        margin-bottom: 0;
      }
      .sidebar {
        &.homepage-buttons {
          display: block;
          position: fixed;
          padding: 0 42px;
          top: 178px;
          a {
            display: block;
          }
        }
      }
    }
    .box {
      margin-bottom: 0;
      padding: 20px;
      background-color: $white_alpha;
    }
  }
}
