#modal {
  opacity: 0;
  // z-index: -10;
  transition-duration: 200ms;
  transition-property: opacity;
  transform: translateX(100%);
  position: absolute;
  width: 0;
  height: 0;
  > .window {
    display: none;
    position: fixed;
    .content {
      background-color: $white_alpha;
      margin-top: 32px;
      &:before {
        content: '';
        pointer-events: none;
        font-size: 30px;
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: $blue_alpha;
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
        top: 50%;
        transition: opacity 300ms;
        opacity: 1;
      }
      > *,
      iframe {
        opacity: 0;
        background-color: transparent;
        max-width: calc(100vw - 60px);
        max-height: calc(100vh - 80px);
        margin: 0 auto;
        transition: opacity 300ms;
        transition-delay: 50ms;
      }
      &.loaded {
        &:before {
          opacity: 0;
          background-color: transparent;
        }
        > *,
        iframe {
          opacity: 1;
        }
      }
    }

  }
  body.modal-active & {
    opacity: 1;
    z-index: 9999;
    transform: none;
    width: auto;
    display: block;
    &:after {
      content: '';
      background-color: rgba(0,0,0,0.8);
      width: 100vw;
      height: 100vh;
      display: block;
      position: fixed;
      top: 0;
      z-index: 9998;
      transition-delay: 100ms;
      transition: all 150ms;
    }
    > .window {
      display: block;
      top: 50%;
      left: 50%;
      z-index: 9999;
      transform: translateX(-50%) translateY(-50%) scale(1);
      .button {
        background-color: $blue_alpha;
        color: $white_alpha;
        display: inline-block;
        right: 40px;
        top: 3px;
        float: right;
        position: relative;
        padding: 5px 20px;
        transition-duration: 200ms;
        transition-property: background-color, color;
        &:hover {
          background-color: $white_alpha;
          color: $blue;
        }
      }
    }
    > .button {

    }
  }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: translateX(-25%) translateY(-50%) scale(0); }
  100% {
    -webkit-transform: translateX(-25%) translateY(-50%) scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: translateX(-25%) translateY(-50%) scale(0);
    transform: translateX(-25%) translateY(-50%) scale(0);
  } 100% {
    -webkit-transform: translateX(-25%) translateY(-50%) scale(1.0);
    transform: translateX(-25%) translateY(-50%) scale(1.0);
    opacity: 0;
  }
}
