section {
  &.page-content {
    font-weight: 300;
    max-width: $inner-content;
    margin: 0 auto;
    line-height: 22px;
    a {
      color: $blue_alpha;
      cursor: pointer;
      &:hover {
        color: $white_alpha;
      }
      &.btn {
        display: inline-block;
        color: $white_alpha;
        &:hover {
          color: $blue_alpha;
        }
      }
    }
    h1 {
      font-size: 50px;
      text-transform: uppercase;
      padding: 30px 0;
    }
    h4 {
      padding: 15px 0 10px;
    }
    > .content{
      line-height: 20px;
      padding-bottom: 50px;
    }
    .anchor {
      padding-bottom: 50px;
      color: $blue;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 30px;
      line-height: 30px;
    }
    .boxes {
      .box {
        max-width: 400px;
        text-align: center;
        margin-bottom: 50px;
        padding: 25px 20px;
        .content {
          > *:not(.btn) {
              &:last-child {
              padding-bottom: 0;
              margin-bottom: 0;
            }
          }
          background-color: $white_alpha;
          padding: 15px;
          .title {
            font-weight: 400;
            padding-bottom: 15px;
            color: $blue_alpha;
            text-transform: uppercase;
            font-size: 110%;
          }
          p {
            color: black;
          }
          .btn {
            min-width: 70%;
            padding: 5px;
            margin-bottom: 20px;
            display: inline-block;
            color: $white_alpha;
            &:hover {
              background-color: $blue2_alpha;
            }

          }
        }
      }
    }
    .anchor-buttons {
      display: none;
      padding: 0 30px;
      z-index: 10;
      width: calc(17% + 28px);
      right: 0;
      top: 178px;
      position: fixed;
      top: 178px;
      max-width: 256px;
      max-height: calc(100vh - 188px);
      overflow: auto;
      &::-webkit-scrollbar {
          display: none;
      }
      .sidebar-links {
        padding-top: 2vw;
      }
      .btn {
        font-size: 1.2vw;
        padding: 5px 20px;
        text-transform: lowercase;
        margin: 5px 0;
        display: block;
        &.active {
          background-color: $blue2_alpha;
          &:hover {
            color: $white_alpha;
            background-color: $blue2_alpha;
          }
        }
        &.sidebar-link {
          color: $white_alpha;
          background-color: transparent;
          border: 1px solid $white_alpha;
          &:hover {
            color: $blue_alpha;
            background-color: $white_alpha;
          }
        }
      }
    }
    .showtimes {
      text-align: left;
      .date {
        text-transform: uppercase;
        color: $blue;
        font-weight: 300;
        padding-bottom: 30px;
      }
    }
    .box {
      text-align: left;
      overflow-x: hidden;
      margin-bottom: 50px;
      position: relative;
      &.film {
        > div {
          padding-bottom: 40px;
        }
        img {
          width: 100%;
          height: auto;
          max-width: 100%;
          max-height: 40vh;
          width: auto;
          margin: 0 auto;
          display: block;
          padding-bottom: 20px;
        }
        .action-box {
          padding-bottom: 80px;
        }
        .get-ticket {
          margin-bottom: 20px;
          display: inline-block;
        }
        .share {
          // position: ab;
          top: auto;
          left: auto;
        }
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
    .film-description {
      .title {
        font-size: 120%;
        text-transform: uppercase;
        color: $blue_alpha;
      }
      .directors {
        font-style: italic;
      }
    }
    .select-box {
      margin: 0 auto;
      max-width: 450px;
      padding-bottom: 50px;
    }
    .share {
      cursor: pointer;
      transition: all 200ms;
      margin-top: 25px;
      &:before {
        @include icon($share_icon);
        vertical-align: bottom;
        padding-right: 3px;
      }
      &:hover {
        color: $blue;
      }
      .share-box {
        padding: 0 5px;
        margin-top: 5px;
        display: none;
        position: relative;
        max-width: 84px;
        color: $white_alpha;
        background-color: $blue_dark_alpha;
        > * {
          display: inline-block;
          padding: 5px 5px;
          margin: 0;
          transition: all 300ms;
          cursor: pointer;
        }
        .facebook,
        .twitter {
          color: $white_alpha;
          font-size: 25px;
          &:hover {
            color: $blue_alpha;
          }
        }
        .facebook {
          &:before {
            @include icon($facebook_icon);
          }
        }
        .twitter {
          &:before {
            @include icon($twitter_icon);
          }
        }
      }
      &.active {
        .share-box {
          display: block;
        }
      }
    }
    @media screen and (min-width: $tablet-width) {
      > .content {
        padding: 0 30px 50px;
      }
      .box {
        padding: 50px;

        .share {
          position: absolute;
          top: calc(100% - 80px);
          left: calc(100% - 130px);
          margin: auto;
        }
      }
    }
    @media screen and (min-width: $desktop-width) {
      width: 66%;
      padding: 0;
      &.has-sidebar {
        padding-right: 50px;
      }
      .anchor-buttons {
        display: inline-block;
      }
      .button-links,
      .select-box {
        display: none;
      }
      .box {
        &.film {
          .action-box {
            padding-bottom: 40px;
          }
          .get-ticket {
            margin-bottom: 0;
          }
        }
      }
    }
    @media screen and (min-width: $outer-content) {
      .anchor-buttons {
        right: calc((100vw - 1366px) / 2);
        .sidebar-links {
          padding-top: 20px;
        }
        .btn {font-size: 15px;}
      }
    }
  }
}
