section {
  &.partners {
    max-width: $inner-content;
    margin: 0 auto;
    box-sizing: content-box;
    h1 {
      padding: 20px 0;
    }
    .item {
      padding: 30px 0;
      p {
        padding-top: 20px;
      }
      img {
        // padding: 0 30px;
        width: 100%;
        max-width: 300px;
      }
    }
    @media screen and (min-width: $tablet-width) {
      .item {
        p {
          display: none;
        }
      }
    }
    @media screen and (min-width: $desktop-width) {
      h1 {
        padding: 30px 0 50px;
      }
    }
  }
}
