section {
  &.pre-footer {
    box-sizing: border-box;
    width: $inner-content;
    max-width: 100%;
    margin: 0 auto;
    display: none;
    min-height: 500px;
    margin: 0 30px 200px 30px;
    background-color: $blue_dark_alpha;
    @media screen and (min-width: $tablet-width) {
      display: block;
      padding: 100px 80px;
      width: auto;
      max-width: $inner-content;
    }
    @media screen and (min-width: $desktop-width) {
      padding: 100px 170px;
      margin: 0 auto 200px;
    }
    h1 {
      line-height: 38px;
    }
  }
}

// section {
//   &.countdown {
//     font-family: 'Open Sans Condensed';
//     background-image: url('media/earth-countdown.png');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 340px;
//     margin: 0 auto;
//     max-width: 500px;
//     height: 53vw;
//     max-height: 479px;
//     background-position: center;
//     font-weight: 100;
//     display: table;
//     > * {
//       max-width: 500px;
//     }
//     > div {
//       display: table-cell;
//       vertical-align: middle;
//       width: 100%;
//     }
//     .time-units {
//       margin: 0 auto;
//       position: relative;
//       display: flex;
//       width: 130%;
//       margin-left: -15%;
//       .time-unit {
//         background-color: rgba($blue, 0.6);
//         margin-right: 1.5vw;
//         margin-left: 1.5vw;
//         padding: 3vw 0.5vw 0.5vw;
//         box-sizing: border-box;
//         width: 25%;
//         font-size: 8vw;
//         line-height: 8vw;
//         text-transform: uppercase;
//         text-align: center;
//         &:after {
//           font-family: 'Open Sans Condensed', sans-serif;
//           font-weight: 100;
//           font-size: 2.4vw;
//           display: block;
//           font-weight: bold;
//         }
//         &:nth-child(1) {
//           &:after {
//             content: 'Days';
//           }
//         }
//         &:nth-child(2) {
//           &:after {
//             content: 'Hours';
//           }
//         }
//         &:nth-child(3) {
//           &:after {
//             content: 'Minutes';
//           }
//         }
//         &:nth-child(4) {
//           &:after {
//             content: 'Seconds';
//           }
//         }
//       }
//     }
//   }
//   .earthday-countdown-logo {
//     width: 50%;
//     padding: 20px 0 60px;
//   }
//   @media screen and (min-width: 480px) {
//     &.countdown {
//       .time-units {
//         .time-unit {
//           &:after {
//             font-weight: 100;
//           }
//         }
//       }
//     }
//   }
//   @media screen and (min-width: 768px) {
//     &.countdown {
//         .time-units {
//           .time-unit {
//             padding: 3vw 1vw 1vw;
//           }
//         }
//     }
//   }
//   @media screen and (min-width: 1000px) {
//     &.countdown {
//       .time-units {
//         .time-unit {
//           padding: 30px 0px 0px;
//           margin-left: 15px;
//           margin-right: 15px;
//           line-height: 60px;
//           font-size: 80px;
//           &:after {
//             font-size: 25px;
//           }
//         }
//       }
//     }
//     .earthday-countdown-logo {
//       padding-top: 20px;
//     }
//   }
// }


section {
  &.countdown {
    font-family: 'Open Sans Condensed';
    background-image: url('media/earth-countdown.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    max-width: 360px;
    height: 36vw;
    max-height: 360px;
    background-position: center;
    font-weight: 100;
    display: table;
    margin-bottom: 2vw;
    > * {
      max-width: 500px;
    }
    > div {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
    .time-units {
      margin: 0 auto;
      position: relative;
      display: flex;
      width: 130%;
      max-width: 568px;
      margin-left: -15%;
      .time-unit {
        background-color: rgba($blue, 0.6);
        margin-right: 1vw;
        margin-left: 1vw;
        padding: 3vw 0 0;
        box-sizing: border-box;
        width: 25%;
        font-size: 8vw;
        line-height: 6vw;
        text-transform: uppercase;
        text-align: center;
        &:after {
          font-size: 2.4vw;
          display: block;
          font-weight: 100;
        }
        &:nth-child(1) {
          &:after {
            content: 'Days';
          }
        }
        &:nth-child(2) {
          &:after {
            content: 'Hours';
          }
        }
        &:nth-child(3) {
          &:after {
            content: 'Minutes';
          }
        }
        &:nth-child(4) {
          &:after {
            content: 'Seconds';
          }
        }
      }
    }
    @media screen and (min-width: 1000px) {
      margin-bottom: 20px;
      .time-units {
        .time-unit {
          font-size: 80px;
          line-height: 60px;
          margin-right: 15px;
          margin-left: 15px;
          padding: 30px 5px 5px;

          margin-right: 10px;
          margin-left: 10px;
          padding: 30px 0 0;
          &:after {
            font-size: 24px;
          }
        }
      }
    }
  }
  .earthday-countdown-logo {
    width: 50%;
    padding: 20px 0 60px;
  }

  // @media screen and (min-width: 480px) {
  //   &.countdown {
  //     .time-units {
  //       .time-unit {
  //         &:after {
  //           font-weight: 100;
  //         }
  //       }
  //     }
  //   }
  // }
  // @media screen and (min-width: 768px) {
  //   &.countdown {
  //       .time-units {
  //         .time-unit {
  //           padding: 3vw 1vw 1vw;
  //         }
  //       }
  //   }
  // }
  // @media screen and (min-width: 1000px) {
  //   &.countdown {
  //     .time-units {
  //       .time-unit {
  //         padding: 30px 10px 10px;
  //         margin-left: 15px;
  //         margin-right: 15px;
  //         line-height: 60px;
  //         font-size: 80px;
  //         &:after {
  //           font-size: 20px;
  //         }
  //       }
  //     }
  //   }
  //   .earthday-countdown-logo {
  //     padding-top: 20px;
  //   }
  // }
}
