section {
  &.screening-times {
    max-width: $inner-content;
    margin: 0 auto;
    padding: 0 30px;
    > h1 {
      font-size: 35px;
      line-height: 35px;
      text-transform: uppercase;
      padding: 30px 0;
    }
    .post-content {
      padding: 30px 10px;
      p {
        padding-bottom: 10px;
      }
    }

    .films-not-found {
      color: $white_alpha;
      text-align: center;
      display: none;
    }
    .search-criteria {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      margin: 30px 0 20px;
      div {
        letter-spacing: 1px;
        &:last-child {
          color: $blue;
          text-transform: uppercase;
        }
      }
    }
    @media screen and (min-width: $tablet-width) {
      .post-content {
        padding: 30px 100px;
      }
      .select-box {
        ul {
          margin-top: -20px;
          position: absolute;
          width: calc(100% - 120px);
          transition: opacity 200ms;
          // overflow: hidden;
        }
      }
      .select-box {
        ul {
          height: auto;
          visibility: hidden;
        }
        &.open {
          ul {
            visibility: visible;
          }
        }
      }
    }
    @media screen and (min-width: $inner-content) {
      padding: 0;
      > h1 {
        font-size: 50px;
        line-height: 50px;
      }
    }
  }
}
