section {
  &.sponsors {
    max-width: $inner-content;
    margin: 0 auto;
    box-sizing: content-box;
    margin-bottom: 150px;
    h1 {
      padding: 20px 0;
    }
    .item {
      padding: 15px 0;
      img {
        width: 100%;
      }
    }
    @media screen and (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
    @media screen and (min-width: $desktop-width) {
      h1 {
        padding: 50px 0px 30px;
      }
      .item {
        p {
          display: none;
        }
      }
    }
  }
}
