section {
  &.sub-hero {
    padding: 0 0 50px;
    width: 100%;
    max-width: 100%;
    display: block;
    background-image:
    linear-gradient(
      transparent 5%,
      #000000 6%,
      #000000 60%,
      transparent
    );
    .theater-seats {
      width: 100vw;
      height: auto;
      background-image: url('media/theater-seats.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: calc(100vw * 0.25);
      // z-index: 1;
      position: relative;
    }
  }
}
