.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  display: block;
  transition: height 200ms;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

ul.slider-controls {
  li {
    padding: 0px;
    display: inline;
    cursor: pointer;
    font-size: 50px;
    transition: color 200ms;
    color: $blue;
    &:after {
      font-family: 'Open Sans Condensed';
      font-size: 90px;
      line-height: 0;
      display: inline;
      content: '\b7';
    }
    &.active {
      color: white;
    }
  }
}

@media screen and (min-width: 1000px) {
  ul.slider-controls {
    li {
      &:after {
        // font-size: 180px;
      }
    }
  }
}
