// Fonts
// $font_main:   font-family: 'Lato', sans-serif;
// $font_cond:     font-family: 'Open Sans Condensed';

// Colors
$blue: #25aae1;
$blue_alpha: rgba($blue, 0.9);
$blue2: #025c82;
$blue2_alpha: rgba($blue2, 0.9);
$blue_dark: #1a2938;
$blue_dark_alpha: rgba(#1a2938, 0.5);
$blue_dark2: #025c82;

$white_alpha: rgba(#ffffff, 0.9);

// Widths
$tablet-width: 640px;
$desktop-width: 968px;
$inner-content: 910px;
$outer-content: 1366px;

// Icons
$instagram_icon: '\e900';
$twitter_icon: '\e901';
$facebook_icon: '\e902';
$down_triangle_icon: '\e903';
$events_icon: '\e904';
$screening_icon: '\e905';
$tickets_icon: '\e906';
$share_icon: '\e907';

@mixin icon($content) {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $content;
}
