@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sgxamy');
  src:  url('fonts/icomoon.eot?sgxamy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sgxamy') format('truetype'),
    url('fonts/icomoon.woff?sgxamy') format('woff'),
    url('fonts/icomoon.svg?sgxamy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-down-triangle:before {
  content: "\e903";
}
.icon-events:before {
  content: "\e904";
}
.icon-screening:before {
  content: "\e905";
}
.icon-tickets:before {
  content: "\e906";
}

