<section class="two-column-boxes">
  <div class="grid-row padd-26">

    <div class="col-sm-50">
      <div class="box white">
        {{ white_box_content | raw }}
      </div>
    </div>

    <div class="col-sm-50">
      <div class="box blue">
        {{ blue_box_content | raw }}
      </div>
    </div>

  </div>
</section>
