<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@EarthDayTexas">
<meta name="twitter:creator" content="@EARTHxFilm">
<meta property="og:type" content="website" />
{% if film %}
    <meta property="og:url" content="{{ current_url ~ "?" ~ current_query }}" />
    <meta property="og:title" content="{{ film.title }}" />
    <meta property="og:description" content="{{ film.content|striptags }}" />
    <meta property="og:image" content="{{ film.acf.image.sizes.large }}" />
{% elseif item %}
    <meta property="og:url" content="{{ current_url ~ "?" ~ current_query }}" />
    <meta property="og:title" content="{{ item.sharing_title }}" />
    <meta property="og:description" content="{{ item.sharing_description }}" />
    <meta property="og:image" content="{{ item.sharing_image.url }}" />
{% else %}
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:title" content="{{ default_title }}" />
    <meta property="og:description" content="{{ default_desc }}" />
    <meta property="og:image" content="{{ default_image }}" />
{% endif %}
