<section class="screening-times">
  <h1>{{ post.post_title }}</h1>
  <div class="post-content">{{ post.content|raw}}</div>
  <div class="grid-row justify-center button-links">
    {% for button in buttons %}
    <a class="btn col-md" href="{{ button.link }}">{{ button.text }}</a>
    {% endfor %}
  </div>
  <div class="grid-row padd-60">
    <div class="col-sm-50">
      <div id="date" class="select-box" data-value="">
        <div class="dropdown-box">Select your day</div>
        <ul>
          {% for date in event_dates|sort %}
          <li data-value="{{ date.date | date("Ymd") }}">{{ date.date | date("l F j") }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-50">
      <div id="genre" class="select-box optional" data-value="">
        <div class="dropdown-box">Select your Interest</span></div>
        <ul>
          <li data-value="">All genres</li>
          {% for genre in genres %}
          <li data-value="{{ genre.term_id }}">{{ genre.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="films-wrapper">
    <div class="search-criteria">
      <div>
        Showing film screenings for
      </div>
      <div>
        <span id="criteria-date">All dates</span> - <span id="criteria-genre">All genres</span>
      </div>
    </div>
    {% include 'films.twig' %}
  </div>
</section>
