<section class="films-list">
  {% for film in films %}
    {% set film_terms = '' %}
    {% for term in film.terms('film-genre') %}
      {% if loop.first == false %}{% set film_terms = film_terms ~ ',' %}{% endif %}
      {% set film_terms = film_terms ~ term.id %}
    {% endfor %}

    <div class="film box" data-genres="{{ film_terms }}" data-dates="{% for date in film.cf['showtimes'] %}{{ date.dates }}{% if loop.last == false %},{% endif %}{% endfor %}">
      <div class="grid-row padd-26">
        {% if film.cf.image %}
        <div class="col-sm-40">
          <img
          srcset="
            {{ film.cf.image.sizes.medium}} 300w,
            {{ film.cf.image.sizes.medium_large}} 768w"
          sizes="
            (max-width: 450px) 300px,
            (max-width: 640px) 768px,
            (min-width: 641px) 300px"
          src="{{ film.cf.image.sizes.medium }}" width="100%" />
        </div>
        {% endif %}
        <div class="col-sm-60 description">
          <h1 class="title">{{ film.title }}</h1>
          <p>
            {% for dates in film.cf['showtimes'] %}
              <span class="dates date-{{ dates.dates }}">
              {% for time in dates.times %}
                <span>{{ time.time }}</span>
              {% endfor %}
              </span>
            {% endfor %}
          </p>
          <p>
            {% if film.director %}
            <i>Directors: {{ film.director }}</i>
            <br>
            {% endif %}
            {% if film.cf.countries %}
              {% for key, val in film.cf.countries %}
              {{ val.country }} |
              {% endfor %}
            {% elseif film.country %}
            {{ film.country }} |
            {% endif %}{{ film.duration }} minutes
            <span class="genres">{% for genre in film.terms('film-genre') %}<span class="genre">{{ genre }}</span>{% endfor %}</span>
          </p>
        </div>
        <div class="col-md-100 description">
          <div class="grid-row padd-0">
            <div class="col-sm-33">
              {% if film.cf.widget_code %}

              <span class="btn get-ticket" data-id="{{ film.id }}" >get tickets</span>
              {% endif %}

            </div>
            <div class="col-sm-33">
              <div class="share">
                share
                <div class="share-box">
                  <div><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}?film_id={{ film.id }}" target="_blank"></a></div>
                  <div><a class="twitter" href="https://twitter.com/intent/tweet?url={{ current_url }}?film_id={{ film.id }}&hashtags=EARTHxFilm&via=EARTHxFilm&related=EarthDayTexas" target="_blank"></a></div>
                </div>
              </div>
            </div>
            <div class="col-sm-33">
              <div class="expand"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <p>

          {% for dates, values in film.location_times %}
            <div class="dates date-{{ dates }}">
              {% for location, times in values %}
                <h2>
                  {{ location }} -
                  {% for time in times %}
                  {{ time }}{% if loop.last == false %} | {% endif %}
                  {% endfor %}
                </h2>
              {% endfor %}
            </div>
          {% endfor %}

        </p>
        <p>{{ film.content|raw }}</p>
        <div class="expand"></div>
      </div>
    </div>
    {% if loop.last == false %}
    {% endif %}

  {% endfor %}
  <h1 class="films-not-found">No films found matching selected filters</h1>
</section>
