<section class="links-container">
  <div class="links">
      {% for item in footer_items %}
        {% if item.link %}
        <a class="link" href="{{ item.link }}">{{ item.text }}</a>
        {% else %}
        <div class="link">{{ item.text }}</div>
        {% endif %}
      {% endfor %}
  </div>
</section>
