<header>

  <div class="mobile">
    <div class="image">
      <a href="/"><img src="{{ mobile_image_icon }}" /></a>
    </div>
    <div class="cart-section">
      <div><a href="{{ cart_link }}" target="_blank">Cart</a></div>
    </div>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="menu">
      <div class="content">
        <div class="text">{{ menu_text }}</div>
        {% for link in nav_links %}
        <div class="col-xs item">
          <a class="box" href="{% if link.link %}{{ link.link }}{% else %}#{% endif %}">
            <span class="text{% if link.has_subpages %} has-dropdown{% endif %}">{{ link.text }}</span>
          </a>
          <div class="children">
            {% if link.has_subpages %}
              {% for subpage in link.subpages %}
                <a class="child" href="{{ subpage.link }}">{{ subpage.text }}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="social-links">
          <a href="{{instagram_link}}" target="_blank" class="icon-instagram"></a>
          <a href="{{twitter_link}}" target="_blank" class="icon-twitter"></a>
          <a href="{{facebook_link}}" target="_blank" class="icon-facebook"></a>
        </div>
        <div class="footer-link">
          <a href="http://EarthDayTX.org">EarthDayTX.org</a>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop">
    <div class="image">
      <a href="/"><img src="{{ image }}" /></a>
    </div>
    <div class="center">
      <div class="text prenav">
        <div class="item">{{ menu_text }}</div>
        <div class="item">
          <div class="links">
            {% for link in prenav_links %}
            <a href="{{ link.link }}">{{ link.text }}</a>
            {% endfor %}
          </div>
          <div class="social-links">
            <a href="{{instagram_link}}" target="_blank" class="icon-instagram"></a>
            <a href="{{twitter_link}}" target="_blank" class="icon-twitter"></a>
            <a href="{{facebook_link}}" target="_blank" class="icon-facebook"></a>
          </div>
        </div>
      </div>
      <div class="grid-row padd-0 menu">
        {% for link in nav_links %}
        <div class="col-xs item">
          <a class="box" href="{% if link.link %}{{ link.link }}{% else %}#{% endif %}">
            <span class="text{% if link.has_subpages %} has-dropdown{% endif %}">{{ link.text }}</span>
          </a>
          <ul class="dropdown">
            {% if link.has_subpages %}
              {% for subpage in link.subpages %}
                <li><a href="{{ subpage.link }}">{{ subpage.text }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="cart-section">
      <div><a href="{{ cart_link }}" target="_blank">Cart</a></div>
    </div>
  </div>
</header>
