<section class="hero">
  <div class="mobile">
    <h1>
      {{ mobile_hero_section_title }}
    </h1>
    <br>
  </div>
  <div class="sidebar homepage-buttons">
    {% for key, item in homepage_buttons %}
      <a href="{{ item.link }}" class="{{ key }}">{{ item.text }}</a>
    {% endfor %}
  </div>
  <div class="mobile">
    {% for slide in mobile_slides %}
    <div class="slide {{ slide.cf.type|replace({'_':'-'}) }}">

      {% if slide.cf.type == 'standard_content' %}

      <div class="content">
        <img src="{{ slide.cf.image }}" />
        <h1>{{ slide.post_title }}</h1>
        <p>{{ slide.cf.content }}</p>
        <div class="grid-row align-center footer">

          <div class="hr col-sm-50 col-md-60">
            <div class="grid-row">
              <div class="col-md-40">
                <img width="100%" src="{{slide.cf.footer_image.sizes.medium  }}" />
              </div>
              <div class="col-md-60 center-content">
                <p>{{ slide.cf.center_content }}</p>
              </div>
            </div>
          </div>

          {% if slide.cf.link and slide.cf.button_text %}
          <div class="col-sm-50 col-md-40">
            <a href="{{ slide.cf.link }}" class="btn">{{ slide.cf.button_text }}</a>
          </div>
          {% endif %}

        </div>
      </div>

      {% elseif slide.cf.type == 'image_list' %}

      <div class="content">
        <h1>{{ slide.post_title }}</h1>
        <p>{{ slide.cf.content }}</p>
        <div class="grid-row">
          {% for image in slide.cf.images %}
          <div class="col-md">
            <img {% if loop.last %}class="last"{% endif %} src="{{ image.image.url }}" />
          </div>
          {% endfor %}
        </div>
      </div>

      {% endif %}

      {% if slide.cf.type == 'hero_image' %}
        {% if slide.cf.hero_image_link %}
          <a href="{{ slide.cf.hero_image_link_type == 'internal' ? slide.cf.hero_image_page : slide.cf.hero_image_url }}">
        {% endif %}
          <div class="hero-container"><img src="{{ slide.cf.hero_image.url }}" width="100%" /></div>
        {% if slide.cf.hero_image_link %}
          </a>
        {% endif %}
      {% endif %}

    </div>
    {% endfor %}
  </div>
  <div class="desktop">
    <div id='slider' class='swipe'>
      <div class='swipe-wrap'>
        {% for slide in desktop_slides %}
        <div class="slide {{ slide.cf.type|replace({'_':'-'}) }}">

          {% if slide.cf.type == 'standard_content' %}

          <div class="content">
            {% if slide.cf.image %}
            <img src="{{ slide.cf.image }}" />
            {% endif %}
            <h1>{{ slide.post_title }}</h1>

            {% if slide.cf.sub_title %}
            <p class="sub-title">{{ slide.cf.sub_title }}</p>
            {% endif %}

            <p>{{ slide.cf.content|striptags }}</p>

            <div class="grid-row align-center footer">

              {% if slide.cf.footer_image and slide.cf.center_content %}
              <div class="hr col-sm-50 col-md-60">
                <div class="grid-row">
                  <div class="col-md-40">
                    <img width="100%" src="{{slide.cf.footer_image.sizes.medium  }}" />
                  </div>
                  <div class="col-md-60 center-content">
                    <p>{{ slide.cf.center_content }}</p>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="col-sm-50 col-md-60"></div>
              {% endif %}

              {% if slide.cf.link and slide.cf.button_text %}
              <div class="col-sm-50 col-md-40">
                <a href="{{ slide.cf.link }}" class="btn">{{ slide.cf.button_text }}</a>
              </div>
              {% endif %}

            </div>

          </div>

          {% elseif slide.cf.type == 'image_list' %}

          <div class="content">
            <h1>{{ slide.post_title }}</h1>
            <p class="sub-title">{{ slide.cf.sub_title }}</p>
            <div class="grid-row padd-30 align-center">
              {% for image in slide.cf.images %}
              <div class="col-md">
                <a href="{{ image.link }}"><div class="img" style="background-image:url({{ image.image.url }})"></div></a>
              </div>
              {% endfor %}
            </div>
          </div>

          {% endif %}

          {% if slide.cf.type == 'hero_image' %}
            {% if slide.cf.hero_image_link %}
              <a href="{{ slide.cf.hero_image_link_type == 'internal' ? slide.cf.hero_image_page : slide.cf.hero_image_url }}">
            {% endif %}
              <img src="{{ slide.cf.hero_image.url }}" height="100%" />
            {% if slide.cf.hero_image_link %}
              </a>
            {% endif %}
          {% endif %}

        </div>
        {% endfor %}
      </div>
    </div>
    {% if desktop_slides|length > 0 %}
    <ul class="slider-controls">
      {% for  i, slide in desktop_slides %}
        <li data-slide="{{i}}"{% if loop.first %} class="active"{% endif %}></li>
      {% endfor %}
    </ul>
    {% endif %}
    <br>
    <img src="{{ scroll_indicator_image }}" />
  </div>
</section>
