<section class="page-content{% if has_side_bar or sidebar_links %} has-sidebar{% endif %}">

  <div class="sidebar">
    {% for key, field in custom_fields %}
      {% if field.type == 'text-anchor' %}
      <div class="btn" data-scroll-position="#anchor-{{key}}">{{ field.text_anchor }}</div>
      {% endif %}
    {% endfor %}
    <div class="sidebar-links">
      {% for link in sidebar_links %}
      <a href="{{ link.link }}" class="btn sidebar-link">{{ link.text }}</a>
      {% endfor %}
    </div>
  </div>

  <h1>{{ page.post_title }}</h1>
  <div class="content">{{ page.content|raw }}</div>

  {% if sidebar_links %}
  <div class="grid-row justify-center button-links">
    {% for link in sidebar_links %}
    <a class="btn col-md" href="{{ link.link }}">{{ link.text }}</a>
    {% endfor %}
  </div>
  {% endif %}

  {% if has_side_bar %}
  <div class="select-box" data-value="">
    <div class="dropdown-box">Make a Selection</div>
    <ul>
      {% for key, field in custom_fields %}
        {% if field.type == 'text-anchor' %}
        <li data-scroll-position="#anchor-{{key}}">{{ field.text_anchor }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% set box_index = 0 %}
  {% for key, field in custom_fields %}
    {% if field.type == 'wysiwyg' %}
      <section class="box">
        {{ field.editor }}
        {% if field.include_sharing_links %}
        <div class="share">
          share
          <div class="share-box">
            <div><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}?share_item={{ box_index }}" target="_blank"></a></div>
            <div><a class="twitter" href="https://twitter.com/intent/tweet?url={{ current_url }}?share_item={{ box_index }}&hashtags=EARTHxFilm&via=EARTHxFilm&related=EarthDayTexas" target="_blank"></a></div>
          </div>
        </div>
        {% endif %}
      </section>
    {% endif %}

    {% if field.type == 'film-block' %}
      <section class="box film">
        <div class="grid-row padd-30">
          {% if field.cf.image %}
          <div class="col-sm-100 image">
            <img
            srcset="
              {{ field.cf.image.sizes.medium}} 300w,
              {{ field.cf.image.sizes.medium_large}} 768w"
            sizes="
              (max-width: 450px) 300px,
              (max-width: 640px) 768px,
            src="{{ field.cf.image.sizes.medium }}" width="100%" />
          </div>
          {% endif %}
          <div class="col-sm-100 film-description">
            <div class="title">{{ field.film.post_title }}</div>
            {% if field.cf.director %}
            <div class="directors">Directors: {{ field.cf.director }}</div>
            {% endif %}
            <div class="info">{{ field.cf.country }} | {{ field.cf.duration }} minutes</div>
          </div>
        </div>
        <div class="content">
          {{ field.film.post_content|raw }}
        </div>
        {% if field.cf.widget_code %}
        <div class="action-box">
          <div class="grid-row">
            <div class="col-md-50">
              <span class="btn get-ticket" data-id="{{ field.film.ID }}" >get tickets</span>
            </div>
            <div class="col-md-50">
              <span class="share">
                share
                <div class="share-box">
                  <div><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}?film_id={{ field.film.ID }}" target="_blank"></a></div>
                  <div><a class="twitter" href="https://twitter.com/intent/tweet?url={{ current_url }}?film_id={{ field.film.ID }}&hashtags=EARTHxFilm&via=EARTHxFilm&related=EarthDayTexas" target="_blank"></a></div>
                </div>
              </span>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="showtimes">
          <div class="grid-row">
            {% for showtime in field.cf.showtimes %}
            <div class="col-md">
              <div class="date">{{ showtime.dates|date("l F d") }}</div>
              {% for time in showtime.times %}
              <div class="time">{{ time.time }} - {{ time.location.post_title }}</div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}

    {% if field.type == 'text-anchor' %}
    <div id="anchor-{{key}}" class="anchor">{{ field.text_anchor }}</div>
    {% endif %}

    {% if field.type == 'boxes' %}
      <div class="grid-row padd-25 justify-center boxes">
      {% for box in field.buttons %}
        <div class="col-sm-50 col-lg-33">
          <section class="box">
            <div class="content">
              <div class="title">{{ box.box_title }}</div>
              <p>
                {{ box.box_text }}
              </p>
              {% if box.button_text %}
              <a class="btn" href="{{ box.button_link }}">{{ box.button_text }}</a>
              {% endif %}
            </div>
          </section>
        </div>
      {% endfor %}
      </div>
    {% endif %}
    {% set box_index = box_index + 1 %}

  {% endfor %}
</section>
