<section class="partners">
  <h1>{{ partners_title }}</h1>
  <div class="grid-row justify-center align-center padd-15">
    {% for partner in partners %}
    <div class="col-md-33 col-sm-50 item">
      {% if partner.image.url %}
      <img src="{{ partner.image.url }}" />
      {% else %}
      <img class="placeholder-image" src="https://placeholdit.imgix.net/~text?txtsize=32&txt=partner&w=320&h=110" />
      {% endif %}
      <p>
        {{ partner.description }}
      </p>
    </div>
    {% endfor %}
  </div>
</section>
