<section class="pre-footer">
  <section class="countdown">
    <div>
      <div class="time-units">
        <div id="days" class="time-unit">36</div>
        <div id="hours" class="time-unit">20</div>
        <div id="minutes" class="time-unit">07</div>
        <div id="seconds" class="time-unit">27</div>
      </div>
    </div>
  </section>
  <section>
    {{ bottom_box_content | raw }}
  </section>
</section>
