<section class="sponsors">
  <h1>{{ sponsors_title }}</h1>
  <div class="grid-row justify-center align-center padd-26">
    {% for sponsor in sponsors %}
    <div class="col-xs-50 col-sm-33 col-md-25 item">
      {% if sponsor.image.url %}
      <img src="{{ sponsor.image.url }}" />
      {% else %}
      <img class="placeholder-image" src="https://placeholdit.imgix.net/~text?txtsize=32&txt=sponsor&w=200&h=80" />
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
